@page
@model RGPGameApp.Pages._StatsSkillsModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="card text-center bg-secondary mb-3" style="margin-top:-50px">
    <h3 class="card-header">Stats and Skills</h3>
    <div class="row mt-2">
        <div class="col ml-2">
            <div class="card text-center text-white bg-dark mb-1">
                <h5 class="card-header">Strength</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            Score
                        </div>
                        <div class="col">
                            Modifier
                        </div>
                        <div class="col">
                            Save
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center text-white bg-dark mb-3">
                <div class="card-body text-left">
                    Athletics
                </div>
            </div>
            <div class="card text-center text-white bg-dark mb-1">
                <h5 class="card-header">Dexterity</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            Score
                        </div>
                        <div class="col">
                            Modifier
                        </div>
                        <div class="col">
                            Save
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center text-white bg-dark mb-3">
                <div class="card-body text-left">
                    Acrobatics<br />
                    Sleight of Hand<br />
                    Stealth
                </div>
            </div>
            <div class="card text-center text-white bg-dark mb-1">
                <h5 class="card-header">Charisma</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            Score
                        </div>
                        <div class="col">
                            Modifier
                        </div>
                        <div class="col">
                            Save
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center text-white bg-dark mb-3">
                <div class="card-body text-left">
                    Deception<br />
                    Intimidation<br />
                    Performance<br />
                    Persuation<br />
                </div>
            </div>
        </div>
        <div class="col mr-2">
            <div class="card text-center text-white bg-dark mb-1">
                <h5 class="card-header">Intelligence</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            Score
                        </div>
                        <div class="col">
                            Modifier
                        </div>
                        <div class="col">
                            Save
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center text-white bg-dark mb-3">
                <div class="card-body text-left">
                    Arcana<br />
                    History<br />
                    Investigation<br />
                    Nature<br />
                    Religion<br />
                </div>
            </div>
            <div class="card text-center text-white bg-dark mb-1">
                <h5 class="card-header">Wisdom</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            Score
                        </div>
                        <div class="col">
                            Modifier
                        </div>
                        <div class="col">
                            Save
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center text-white bg-dark mb-3">
                <div class="card-body text-left">
                    Animal Handling<br />
                    Insight<br />
                    Medicine<br />
                    Perception<br />
                    Survival<br />
                </div>
            </div>
            <div class="card text-center text-white bg-dark mb-3">
                <h5 class="card-header">Constitution</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            Score
                        </div>
                        <div class="col">
                            Modifier
                        </div>
                        <div class="col">
                            Save
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
